.footer_body{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content{
    padding: 15px;
    max-width: 1200px;
    width: 100%;
}
