.footer_body{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-start; 
}

.content{
    padding: 20px;
    max-width: 1200px;
    width: 100%;
}
