.navContainer{
    height: 45px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.linkContainer{
    width: 66.66%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    text-align: center;
} 
.links{
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

#lastLink{
    background-color: black;
    color: white;
}