.navContainer{
    height: 45px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.linkContainer{
    width: 66.66%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
} 
.links{
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
}
.title{
    padding-left: 10px;
}
.name{
    font-family: 'EB Garamond';
}
#lastLink{
    background-color: black;
    color: white;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navContainer{
        justify-content: center;
    }
    .linkContainer {
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        background-color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .linkContainer.active {
        display: flex;
    }
    .links {
        width: 100%;
        padding: 15px 0;
    }
}